{% load staticfiles %}
<!DOCTYPE html>
<meta charset="utf-8">
<!-- No idea what this does, but makes IE9 behave when run on localhost -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>Frikanalen Beta - {{ title|default:""}}</title>
<link rel="stylesheet" href="{% static 'vod.css' %}">
<!--
<link rel="stylesheet" href="/static/normalize.css">
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
-->
<style>
a img {
  border: none;
}
a:link {
  color: rgb(70, 43, 3);
}
a:visited {
  color: rgb(42, 26, 2);
  color: rgba(70, 73, 3, 0.6);
}
a:hover {
  color: rgb(42, 26, 2);
  color: rgba(70, 43, 3, 0.6);
}
a:active {
  color: rgb(70, 43, 3);
}

body {
  font-family: Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}
h1 {
  color: #555;
  font-size: 24px;
  margin: 0 0 6px;
}

#container {
  position: relative;
  min-height: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 0;
}

#header-container {
}

#header-logo {
  padding: 30px 0;
  display: inline-block;
}

#header-title {
  font-size: 16pt;
  color: #5C4A31 ;
}

#content {
}

#spacer {
  height: 1.7em;
}

#footer {
  position: absolute;
  bottom:0;
  height: 2em;
  right: 0%;

  font-size: 75%;
  font-style: italic;
  text-align: center;
}

#footer p {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
  height: 1.5em;
  background-color: rgb(204, 204, 204);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px 16px 0 0;
}

.top-nav {
  display: inline-block;
  position: relative;
  top: -5px;
}
.top-nav ul {
  margin: 0;
  margin-bottom: 20px;
}
.top-nav li {
  display: inline-block;
  margin-left: 30px;
}
.top-nav a {
  text-decoration: none;
}
.top-nav form { display: inline-block }
.top-nav input[type=text], .top-nav input[type=password] {
  width: 80px;
  padding: 1px 4px;
}


.login_box ul {
  margin: 0;
}

.login_box li {
  display: inline-block;
  margin-right: 20px;
}

.navigation_container {
  display: flex;
  justify-content: space-evenly;
}

#right_bar {
  float: right;
  width: 300px;
}

.search {
  position: absolute;
  top: 120px;
  right: 0;
}
</style>
{% block style %}
{% endblock style %}

<div id="container">
  {% block heading %}
    <div id="header-container">
      <div id="header-logo">
        <a href="/"><img src="/static/frikanalen.png" alt=Frikanalen> </a>
      </div>

      <nav class=top-nav>
        <ul>
          <li><a href="{% url 'guide' %}">Program Guide</a>
          <li><a href="{% url 'calendar' %}">Calendar</a>
          <li><a href="{% url 'vod-video-list' %}">Videos</a>
          {% if not user.is_authenticated %}
            <li>
              <div class="login_box">
                <form action="{% url 'login' %}" method="POST">
                  {% csrf_token %}
                  <input id="id_username" type="text" name="username"
                      placeholder="username" maxlength="30">
                  <input id="id_password" type="password" name="password"
                      placeholder="password" maxlength="4096">
                  <input type="submit" value="Log in">
                  <input type="hidden" name="next" value="/">
                </form>
                ...or <a href="{% url 'register' %}">register</a>
              </div>{# .login-box #}
            </li>
          {% else %}
            <li><a href="{% url 'manage-schedule' %}">Plan</a>
            <li><a href="{% url 'manage-video-list' %}">My videos</a>
            <li>
              <div class="login_box">
                Logged in as
                <a href="{% url 'profile' %}" title='User page for {{ user.first_name }} {{ user.last_name }}'>{{ user.username }}</a>
                (<a href="{% url 'logout' %}">log out</a>)
              </div>{# .login-box #}
            </li>
          {% endif %}
        </ul>
      </nav>

      <div id="top_bar">
        <div id="header-subtitle">
          {% block heading-title %}<h1>{{ title }}</h1>{% endblock heading-title %}
        </div>
      </div>
    </div>{# .header-container #}
  {% endblock heading %}

  <div id="content">
    {% block content %}
      <p>Content not defined in template</p>
    {% endblock content %}
  </div>
  <div style="clear:both;">&nbsp;</div>
  <div id="spacer"> </div>
  <div id="footer">
    <p>
      <a href="{% url 'api-root' %}">REST API</a> |
      <a href="{% url 'xmltv-home' %}">XMLTV</a> |
      <a href="http://github.com/Frikanalen">Source code</a>
      &copy; 2009-2016 Foreningen Frikanalen
  </div>
</div>{# #container #}
