{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<script src="{% static "plupload.full.min.js" %}" async></script>
<style>
* {
    box-sizing: border-box;
}
.video-form {
    width: 600px;
}
input, textarea, button {
    font-size: 15px;
    padding: 4px 8px;
}
label {
    display: block;
    margin: 10px 0;
}
label :last-child {
    width: calc(100% - 85px);
}
label span {
    display: inline-block;
    width: 80px;
    vertical-align: top;
}
input[type=submit] {
    width: auto;
    float: right;
}
</style>
<h1>Create new video</h1>
<ul id=filelist></ul>

<button type=button id=upload disabled>Upload video file</button>
<pre id=console></pre>
<template id=video-form-tmpl>
  <form class=video-form>
    <label>
      <span>Title</span>
      <input name=name type=text>
    </label>
    <label>
      <span>Header</span>
      <textarea name=header rows=4></textarea>
    </label>
    <input type=submit value='Update metadata'>
  </form>
</template>
<div id=finished hidden>
  <h1>Finished!</h1>
  <ul>
    <li><a href="{% url 'manage-schedule' %}">Plan your new video in the schedule</a></li>
    <li><a class=edit-url>Edit more about your video</a></li>
    <li><a class=video-url>Public video page</a></li>
  </ul>
</div>

<script>
// From here: https://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function ExternalPromise() {
    var resolve, reject;
    var p = new Promise(function(y, n) {
        resolve = y;
        reject = n;
    });
    p.resolve = resolve;
    p.reject = reject;
    return p;
}
var upload_button = document.getElementById('upload');
function init() {
    var video_ready = ExternalPromise();
    upload_button.addEventListener('click', function() {
        var self = this;
        create_new_video().then(function(video) {
            video_ready.resolve(video);
            // We've already created a video, no need for a new if user cancels
            // file browser and retries
            upload_button.removeEventListener('click', self);
        });
    });
    var metadata_updated = ExternalPromise();
    init_upload(video_ready, metadata_updated);
}

function create_new_video() {
    var video;
    return _create_new_video().then(function(v) {
        video = v;
        return get_upload_token(video.id);
    }).then(function(token) {
        video.upload_token = token;
        return video;
    });
}

function _create_new_video() {
    var new_video = {
        name: '-',
        duration: '0:00:01',
        categories: [],
        editor: '{{ request.user }}',
    };
    return fetch('{% url 'api-video-list' %}', {
        method: 'POST',
        credentials: 'include',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
            'X-Requested-With': 'XMLHttpRequest',
        },
        body: JSON.stringify(new_video),
    }).then(function(res) {
        var contenttype = res.headers.get('content-type');
        if (res.ok && contenttype && contenttype.includes('application/json'))
            return res.json();
        return res.text().then(function(t) { return Promise.reject(t); });
    }).then(function(video) {
        return video;
    }).catch(function(err) {
        console.error('Create video error', err);
    });
}

function get_upload_token(video_id) {
    var url = '{% url 'api-video-upload-token-detail' 1234 %}';
    return fetch(url.replace('1234', video_id), {
        credentials: 'include',
        headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest',
        },
    }).then(function(res) {
        var contenttype = res.headers.get('content-type');
        if (res.ok && contenttype && contenttype.includes('application/json'))
            return res.json();
        return res.text().then(function(t) { return Promise.reject(t); });
    }).then(function(json) {
        return json.upload_token;
    });
}

function init_upload(video_ready, metadata_updated) {
    var settings = {
        browse_button: upload_button,
        runtimes : 'html5,html4',
        url : '{{ FK_UPLOAD_URL }}',
        // Maximum file size
        max_file_size : '30gb',
        chunk_size: '500kb',
        // Specify what files to browse for
        filters : [
          {title : 'Video files', extensions : 'mov,wmv,mp4,avi,webm,ogv,dv'},
        ],
        // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
        dragdrop: true,
    };

    var uploader = new plupload.Uploader(settings);
    toggle_upload_ready(true);

    uploader.init();

    uploader.bind('FilesAdded', function(up, files) {
        var file = files[0];
        var html = '<li id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></li>';
        document.getElementById('filelist').innerHTML += html;
        toggle_upload_ready(false);

        video_ready.then(function(video) {
            video.name = file.name;
            uploader.setOption('multipart_params', {
                upload_token: video.upload_token,
                video_id: video.id,
            });
            uploader.start();
        });
    });

    uploader.bind('BeforeUpload', function(up, files) {
        upload_button.hidden = true;
        video_ready.then(function(video) {
            show_video_form(video, metadata_updated.resolve);
        });
    });

    uploader.bind('UploadProgress', function(up, file) {
        document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
    });

    uploader.bind('UploadComplete', function(up, files) {
        metadata_updated.then(function(upd) {
            var finished = document.getElementById('finished');
            var edit_url = '{% url 'manage-video-edit' 1234 %}'.replace('1234', upd.id);
            var video_url = '{% url 'vod-video-detail' 1234 %}'.replace('1234', upd.id);
            finished.querySelector('.edit-url').href = edit_url;
            finished.querySelector('.video-url').href = video_url;
            finished.hidden = false;
        });
    });

    uploader.bind('Error', function(up, err) {
        document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
    });
}

function update_video(video_id, form) {
    var url = '{% url 'api-video-detail' 1234 %}';
    var fd = new FormData(form);
    return fetch(url.replace('1234', video_id), {
        method: 'PATCH',
        credentials: 'include',
        headers: {
            'Accept': 'application/json',
            'X-CSRFToken': csrftoken,
            'X-Requested-With': 'XMLHttpRequest',
        },
        body: new FormData(form),
    }).then(function(res) {
        var contenttype = res.headers.get('content-type');
        if (res.ok && contenttype && contenttype.includes('application/json'))
            return res.json();
        return res.text().then(function(t) { return Promise.reject(t); });
    });
}

function toggle_upload_ready(enabled) {
    upload_button.disabled = !enabled;
}

function show_video_form(video, updated_cb) {
    var tmpl = document.getElementById('video-form-tmpl');
    var clone = tmpl.content.cloneNode(true);
    var form = clone.firstElementChild;
    var inputs = form.querySelectorAll('input[type=text]');
    Array.from(inputs).forEach(function(input) {
        if (video[input.name])
            input.value = video[input.name];
    });
    var textareas = form.querySelectorAll('textarea');
    Array.from(textareas).forEach(function(ta) {
        if (video[ta.name])
            ta.textContent = video[ta.name];
    });
    var submit = form.querySelector('input[type=submit]');
    submit.onclick = function(evt) {
        evt.preventDefault();
        update_video(video.id, form).then(updated_cb);
    }
    tmpl.parentElement.appendChild(form);
}

window.addEventListener('load', init);
</script>
{% endblock content %}
